form.call-receipt-form {
    margin-left: 3.6rem;
    width: 88rem;
    height: 50rem;
    background-color: aqua   ;
}

form.call-receipt-form > div.form-heading {
    height: 4.6rem;
    background-color: #E67700;
    position: relative;
}

form.call-receipt-form > div.form-heading > span.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-transform: uppercase;
    color: white;
    font-size: 2.2rem;
    font-weight: 600;
}