.nav-container{
    height: 6rem;
    background: #FFFFFF;
    border: #F0F0F0;
    border-radius: 0.8rem;
    display: flex;
}

.content-container-openclose{
    display: flex;
    align-items: center;
    justify-content: right;
    width: 5.5%;
}

.img-container{
    height: 75%;
    width: 100%;
    border-right: 1px solid #EAEAEA;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-container{
    width: 75.5%;
    padding: 0 2rem;
    background: aqua;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sub-title{
    width: 40%;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    height: 75%;
    background: white;
}

.title{
    font-size: 2.3rem;
    font-weight: 600;
    color: #515151;
    padding-left: 1.5rem;
}

.sub-option{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 1.5rem;
    height: 75%;
    background: white;
}

.test:hover circle{   
    fill: blue;
}

.profile-container{
    width: 20%;
    background: blue;
}