form.most-visited-address-form {
    align-self: flex-start;
    width: 60rem;
    background-color: aqua;
}

form.most-visited-address-form > div.form-heading {
    height: 4.6rem;
    background-color: #E67700;
    position: relative;
}

form.most-visited-address-form > div.form-heading > span.title {  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-transform: uppercase;
    color: white;
    font-size: 2.2rem;
    font-weight: 600;
}

form.most-visited-address-form > table.table-list {
    background-color: white;
    height: 30rem;
    width: 100%;
    border-collapse: collapse;
}

form.most-visited-address-form > table.table-list > thead.table-heading {
    /* background-color: red; */
    height: 4rem;
    font-size: 1.4rem;
    font-weight: 400;
    border-bottom: 1.6px solid black;
}

form.most-visited-address-form > table.table-list > thead.table-heading > tr > th:first-child {
    width: 80%;
}


form.most-visited-address-form > table.table-list > tbody {
    font-size: 1.6rem;
}

form.most-visited-address-form > table.table-list > tbody > tr > td {
    text-align: center;
    border-bottom: 1px solid black;
}

form.most-visited-address-form > table.table-list > tbody > tr > td:first-child {
    padding-left: 1rem;
}

form.most-visited-address-form > table.table-list > tbody > tr:hover {
    background-color: #CED4DA !important;
    cursor: pointer;
}