.dashboard-container{
    margin-top: 1.5rem ;
}

.category-container{
    width: 100%;
    height: 14rem;
    background: white;
    border-radius: 0.8rem;
    display: flex;
    gap: 2.5rem;
    padding: 0 2.5rem;
    align-items: center;
    justify-content: center;
    border: 1px solid #F0F0F0;
}

.category{
    width: 25%;
    height: 80%;
    background: #6445C2;
    border-radius: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4.5rem;
}

.category-info{
    text-align: left;
    margin-top: 0.2rem;
}

.category-number{
    font-size: 3.2rem;
    color: #FFFFFF;
    font-weight: 600;
}

.category-name{
    font-size: 1.4rem;
    color: #F3F3F3;
    padding-top: 0.4rem;
    font-weight: 600;
}

.category-img{
    margin-top: 1rem;
}

.middle-container{
    height: 45rem;
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

.chart-container{
    width: 70% ;
}


.chart-title{
    height: 13%;
    border-radius: 0.8rem;
    border: 1px solid #F0F0F0;
    display: flex;
    align-items: center;
    padding-left: 3rem;
    gap: 3rem;
    background: white;
}

.el-title {
    color: black;
    font-size: 1.4rem;
    font-weight: 600;
    text-decoration: none;
    padding-bottom: 0.3rem;
}

.under-el-title{
    padding-top: 0.3rem;
    border-bottom: 3px solid #F86C1D
}

.chart-content{
    margin-top: 1rem;
    height: 85%;
    background: white;
    border-radius: 0.8rem;
    border: 1px solid #F0F0F0;
}

.total-revenue{
    background: white;
    height: 28%;
    border-bottom: 1px solid #ECECEC;
    margin-top: 1.7rem;
    padding: 0.5rem 3rem;
}

.title-info{
    display: flex;
    justify-content: space-between;
}
.title{
    font-size: 1.9rem;
    color: #434343;
    font-weight: 600;
}

.revenue{
    font-size: 2.6rem;
    color: #F86C1D;
    font-weight: 600;
    margin-top: 0.6rem;
}

.currency{
    font-size: 1.4rem;
    color: #4F4F4F;
    font-weight: 500;
    margin-top: 0.8rem;
}

.chart-revenue{
    height: 65%;
    border-top: 1px solid #ECECEC;
    padding: 0.5rem 3rem;
}

.tasklist-container{
    width: 30% ;
    background: white;
    border-radius: 0.8rem;
    border: 1px solid #F0F0F0;
}

.title-tasklist{
    color: #434343;
    font-weight: 600;
    font-size: 2rem;
    padding: 2rem 2rem 0 2rem;
}

.number-tasks{
    color: black;
    font-weight: 500;
    font-size: 1.4rem;
    text-align: right;
    padding: 0 2rem 0 2rem;
}

.tasks-container{
    margin-top: 1rem;
    height: 88%;
    padding: 0 2rem 0 1rem;
}

.tasks{
    display: flex;
    margin: 1.4rem 0;
    padding: 1rem;
    border-radius: 0.8rem;
    background: #FAFAFA;
    border: 1px solid #F6F6F6;
}

.content{
    margin: 0 0.5rem 0 2rem; 
    width: 100%;
}

.content-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.3rem;
    position: relative;
}

.content-title-checkbox{
    width: 2.4rem;
    height: 2.4rem;
    background:aqua;
    border: 1px solid #F86C1D;
}

.content-title-text{
    font-weight: 500;
}

.time-title{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.time-title-text{
    font-size: 1.2rem;
    color: #5A5A5A;

}

.last-container{
    height: 14.5rem;
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

.tasklist-tick:hover circle{
    fill: #F86C1D;
    cursor: pointer;
}

.tasklist-untick:hover circle{
    fill: #fae8df;
    cursor: pointer;
}

.topkpi-container{
    width: 70% ;
    background: white;
    border-radius: 0.8rem;
    border: 1px solid #F0F0F0;
    padding: 2rem 3rem;
}

.topkpi-title{
    font-size: 2rem;
    font-weight: 600;
    color: #434343;
}

.topkpi-content-container{
    height: 60%;
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.topkpi-content{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 1.05rem;
}

.topkpi-name-role-container{
    margin: 0;
}

.topkpi-name{
    font-size: 1.2rem;
    font-weight: 600;
    color: black;
    margin-top: 0.25rem;
}

.topkpi-role{
    font-size: 1.1rem;
    font-weight: 600;
    color: #818181;
    margin-top: 0.55rem;
}

.boardmeeting-container{
    width: 30% ;
    background: #000000;
    border-radius: 0.8rem;
    border: 1px solid #F0F0F0;
    padding: 1.5rem 2rem;
    color: white;
}

.boardmeeting-title-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.boardmeeting-title{
    font-size: 2rem;
    font-weight: 600;
}

.boardmeeting-time{
    font-size: 1.4rem;
    margin-top: 1.5rem;
}

.boardmeeting-time-bold{
    font-weight: 700;
    font-size: 1.4rem;
}

.boardmeeting-active{
    text-align: right;
}

.boardmeeting-content{
    font-size: 1.3rem;
    width: 80%;
}