div.places-complete-input {
    /* background-color: black; */
    position: relative;
}

div.places-complete-input > input {
    width: 100%;
    font-size: 1.4rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.places-complete-input > input:placeholder-shown {
    font-size: 1.4rem;
}

div.places-complete-input > div.suggestion-list {
    margin-top:0.2rem;
    position: absolute;
    z-index: 99999;
    width: 100%;
    box-shadow: 3px 3px 24px rgba(0,0,0,0.2);
}

div.places-complete-input > div.suggestion-list  li {
    list-style: none;
    display: flex;
    /* align-items: center; */
    gap: 0.6rem;
    background-color: #f1f3f5;
    padding: 1rem;
    border-bottom: 1px solid #ADB5BD;
    cursor: pointer;
}

div.places-complete-input > div.suggestion-list > li:last-child {
    border-bottom: none;
}


div.places-complete-input > div.suggestion-list  li:hover {
    background-color: #CED4DA
}


div.places-complete-input > div.suggestion-list  li span.description {
    font-size: 1.4rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.active {
    background-color: #CED4DA !important;
}