div.wrapper {
    display: block;
    width: 100%;
    text-align: center;
    /* background-color: blue; */
}

form.call-receipt-form {
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: inline-block;
    width: 85rem;
    height: 51rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 3px 3px 12px rgba(0,0,0,0.2);
}

form.call-receipt-form > div.form-heading {
    height: 4.6rem;
    background-color: #E67700;
    position: relative;
    border-radius: 8px 8px 0px 0px;
}

form.call-receipt-form > div.form-heading > span.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-transform: uppercase;
    color: white;
    font-size: 2.2rem;
    font-weight: 600;
}

form.call-receipt-form > div.form-body {
    padding: 3rem;
    padding-top: 2.8rem;
    padding-bottom: 1.6rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 3rem;
}


form.call-receipt-form > div.form-body > div.input {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 70%;
}

form.call-receipt-form > div.form-body  > div.input > label > span.title {
    font-size: 1.6rem;
}

form.call-receipt-form > div.form-body  > div.input > input,
form.call-receipt-form > div.form-body  > div.input > select {
    font-family: 'Montserrat';
    height: 1rem;
    padding: 1.8rem;
    outline: none;
    border-radius: 8px;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
}

form.call-receipt-form > div.form-body  > div.input > select {
    height: 4rem;
    padding: 0rem;
    padding-left: 1.8rem;
    font-size: 1.4rem;
}



form.call-receipt-form > div.form-body  > div.input > input:placeholder-shown {
    font-size: 1.4rem;
}

form.call-receipt-form > div.form-body > div.input > input.pick-up-place, 
form.call-receipt-form > div.form-body > div.input > input.arrival-place {
    width: 120%;
}

/* used for guest note */
.stretched-all {
    /* justify-self: stretch; */
    width: 84% !important;
    grid-column: 1 / -1;
}


form.call-receipt-form > div.form-body > div.input > textarea.guest-note {
    padding: 1rem;
    font-family: 'Montserrat';
    outline: none;
    resize: none;
    border: 1px solid #ced4da;
    background-color: #e9ecef;
    border-radius: 8px;
    padding-bottom: 4rem;
    height: 10rem;
}

form.call-receipt-form > div.form-body > div.input > textarea:placeholder-shown {
    font-size: 1.4rem;
}


form.call-receipt-form  > div.form-body > div.forward-btn {
    grid-column: 1 / -1;
    height: 2rem;
    margin-top: -1rem;
    display: block;
    text-align: center;
}

form.call-receipt-form  > div.form-body > div.forward-btn > button {
    font-family: 'Montserrat', sans-serif;
    margin-top: 1rem;
    padding: 0.6rem;
    width: 28rem;
    font-size: 1.8rem;
    font-weight: 600;
    background-color: #E67700;
    border: 2.4px solid #E67700;
    border-radius: 24px;
    color: white;
    text-transform: uppercase;
}

form.call-receipt-form  > div.form-body > div.forward-btn > button:hover {
    transition: all 0.2s ease-in-out;
    color: #E67700;
    background-color: #fff;
    cursor: pointer;
}


/* default effect */
form.call-receipt-form > div.form-body > div.input > div.pick-up-time > label.day-night-toggle-btn > span.circle {
    right: 0;
    margin-right: 0.6rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    background-color: #fff;
}

form.call-receipt-form > div.form-body > div.input > div.pick-up-time > label.day-night-toggle-btn > .sun-icon {
    margin-left: 0.6rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 2.8rem;
    display: block;
}

form.call-receipt-form > div.form-body > div.input > div.pick-up-time > label.day-night-toggle-btn > .moon-icon {
    right: 0;
    margin-right: 0.2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    height: 3rem;
}



form.call-receipt-form > div.form-body > div.input > div.pick-up-time > label.day-night-toggle-btn {
    background-color: #F76707;
    margin-left: 1rem;
    width: 10rem;
    border-radius: 24px;
    position: relative;
    cursor: pointer;
}



/* toggle when clicking */

form.call-receipt-form > div.form-body > div.input > div.pick-up-time > input[type="checkbox"]:checked + label.day-night-toggle-btn {
    background-color: #364FC7;
    width: 15rem;
}


form.call-receipt-form > div.form-body > div.input > div.pick-up-time > input[type="checkbox"]:checked + label.day-night-toggle-btn > span.circle {
    left: 0;
    margin-left: 0.6rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    background-color: #fff;
    display: block;
}

form.call-receipt-form > div.form-body > div.input > div.pick-up-time > input[type="checkbox"]:checked + label.day-night-toggle-btn > .moon-icon {
   display: block;
}

/* -------------------- default displaying if the data sent from server exists -------------------- */
form.call-receipt-form > div.form-body > div.input > div.pick-up-time > label.day-night-toggle-btn.dayColour {
    background-color: #F76707;
}


form.call-receipt-form > div.form-body > div.input > div.pick-up-time > label.day-night-toggle-btn.nightColour {
    background-color: #364FC7 !important;
    width: 15rem !important;
}


form.call-receipt-form > div.form-body > div.input > div.pick-up-time > label.day-night-toggle-btn.nightColour > span.circle {
    left: 0;
    margin-left: 0.6rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    background-color: #fff;
    display: block;
}

form.call-receipt-form > div.form-body > div.input > div.pick-up-time > label.day-night-toggle-btn.nightColour > .moon-icon {
    display: block;
}

form.call-receipt-form > div.form-body > div.input > div.pick-up-time > label.day-night-toggle-btn > span.circle_2 {
    right: 0;
    margin-right: 0.6rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    background-color: #fff;
    display: none;
}



 /* toggle when clicking Case 1: dayColour (default displaying) */

form.call-receipt-form > div.form-body > div.input > div.pick-up-time > input[type="checkbox"]:checked + label.day-night-toggle-btn.dayColour {
    background-color: #364FC7;
    width: 15rem;
}


form.call-receipt-form > div.form-body > div.input > div.pick-up-time > input[type="checkbox"]:checked + label.day-night-toggle-btn.dayColour > span.circle{
    left: 0;
    margin-left: 0.6rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    background-color: #fff;
    display: block;
}

form.call-receipt-form > div.form-body > div.input > div.pick-up-time > input[type="checkbox"]:checked + label.day-night-toggle-btn.dayColour > .moon-icon {
   display: block;
}

form.call-receipt-form > div.form-body > div.input > div.pick-up-time > input[type="checkbox"]:checked + label.day-night-toggle-btn.dayColour > span.circle_2 {
    display: none;
}


/* toggle when clicking Case 2: nightColour (default displaying) */

form.call-receipt-form > div.form-body > div.input > div.pick-up-time > input[type="checkbox"]:checked + label.day-night-toggle-btn.nightColour {
    background-color: #F76707 !important;
}

form.call-receipt-form > div.form-body > div.input > div.pick-up-time > input[type="checkbox"]:checked + label.day-night-toggle-btn.nightColour > .moon-icon {
    display: none;
 }

form.call-receipt-form > div.form-body > div.input > div.pick-up-time > input[type="checkbox"]:checked + label.day-night-toggle-btn.nightColour > span.circle {
    display: none;
}

form.call-receipt-form > div.form-body > div.input > div.pick-up-time > input[type="checkbox"]:checked + label.day-night-toggle-btn > span.circle_2 {
    display: block;
}







