form.latest-booking-form {
    width: 98%;
    height: 80rem;
    background-color: aqua;
}

form.latest-booking-form > div.form-heading {
    height: 4.6rem;
    background-color: #E67700;
    position: relative;
}

form.latest-booking-form > div.form-heading > span.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-transform: uppercase;
    color: white;
    font-size: 2.2rem;
    font-weight: 600;
}
