div.call-receipt-table {
    margin-top: 1rem;
    border-radius: 8px 8px 0px 0px;
    border-top: 1px solid #F3F4F5;
    box-shadow: 3px 3px 12px rgba(0,0,0,0.2);
}

div.call-receipt-table > div.table-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
}

div.call-receipt-table > div.table-title > span {
    display: inline-block;
    font-size: 2rem;
    font-weight: 600;
    padding: 2rem;
    /* margin: 2rem 2rem 1rem 2rem; */
}

div.call-receipt-table > div.table-title > div.search-tool {
    position: relative;
}

div.call-receipt-table > div.table-title > div.search-tool > .search-icn {
    position: absolute;
    top: 50%;
    font-size: 2rem;
    margin-left: 1rem;
    transform: translateY(-50%);
}

div.call-receipt-table > div.table-title > div.search-tool > input {
    outline: none;
    font-family: 'Montserrat';
    height: 4rem;
    margin-right: 2rem;
    background-color: #F3F4F5;
    border-radius: 16px;
    border: 1px solid #dee2e6;
    padding: 2rem;
    padding-left: 4rem;
}

div.call-receipt-table > div.table-title > div.search-tool > input:placeholder-shown {
    font-family: 'Montserrat';
}

div.call-receipt-table > div.table-container-for-scroll > table.table-view { 
    color: #fff;
    border-collapse: collapse;
    width: 100%;
}

div.call-receipt-table > div.table-container-for-scroll > table.table-view > thead.table-heading {
    background-color: black;
    height: 5rem;
}

div.call-receipt-table > div.table-container-for-scroll > table.table-view > thead.table-heading select {
    color: #fff;
    font-family: 'Montserrat';
    background-color: black;
    font-weight: 600;
    font-size: 1.6rem;
    border: none;
    outline: none;
}


div.call-receipt-table > div.table-container-for-scroll > table.table-view > thead.table-heading > tr > th {
    font-weight: 600;
    font-size: 1.6rem;
}


div.call-receipt-table > div.table-container-for-scroll > table.table-view > tbody.table-content > tr > td {
    text-align: center;
    font-size: 1.6rem;
    /* background: aqua; */
    /* border-bottom: 1px solid black; */
}

div.call-receipt-table > div.table-container-for-scroll > table.table-view > tbody.table-content > tr {
    margin-top: 2rem;
    height: 5.6rem;
    background-color: #FBF9FA;
    border-bottom: 1px solid black;
    color: #000;
    cursor: pointer;
    outline: none;
}

div.call-receipt-table > div.table-container-for-scroll > table.table-view > tbody.table-content tr:hover {
    background-color: #CED4DA;
}

div.call-receipt-table > div.table-container-for-scroll > table.table-view > tbody.table-content > tr:last-child {
    border-bottom: 0px;
}


div.call-receipt-table > div.table-container-for-scroll > table.table-view > tbody.table-content > tr > td:nth-last-child(2) {
    max-width: 45rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.call-receipt-table > div.table-container-for-scroll > table.table-view > tbody.table-content > tr > td:last-child {
    width: 2%;
    text-align: center;
}


div.call-receipt-table > div.table-container-for-scroll > table.table-view > tbody.table-content > tr > td:last-child > button {
    border: none;
    cursor: pointer;
    background-color: transparent;
}

div.call-receipt-table > div.table-container-for-scroll > table.table-view > tbody.table-content > tr > td > button > .cancel-icn {
    font-size: 1.8em;
    margin-left: 1rem;
    margin-right: 1rem;
}


.bold {
    font-weight: 700;
}

.orange-txt {
    color: #FF5C00;
}

.black-txt {
    color: #868e96;
}

.red-txt{
    color: red;
}

.yellow-txt{    
    color: #e9a300;
}

.green-txt{
    color: #37b24d;
}

.ordinal-number{
    padding-left: 1rem;
}

.dropdown-container-table{
    position: relative;
    display: inline-block;
    padding: 0;
}

.dropdown-title-table{
    display: flex;
    align-items: center;
    border: none;
    font-family: 'Montserrat';
    gap: 1rem;
    font-weight: 600;
    color: white;
    background: black;
    padding: 0;
}
  
  .dropdown-content-table {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 0.8px 1.6rem 0rem rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 0.8rem;
  }
  
  .dropdown-content-table div {
    color: black;
    padding: 1rem 1.5rem;
    text-decoration: none;
    display: block;
    font-size: 1.5rem;
    font-weight: 500;
    color: #3C3C3C;
  }
  
  .space-time{
    width: 11rem;
  }

  .space-vehicle-type{
    width: 17rem;
  }

  .space-status{
    width: 16rem;
  }

  .dropdown-content-table div:hover {
    background-color: #eee9e3;
  }
  
  .dropdown-container-table:hover .dropdown-content-table {
    display: block;
    cursor: pointer;
  }
  
  .dropdown-container-table:hover .dropdown-title-table {
    cursor: pointer;
  }

  .dropdown-title-down{
    padding-top: 0.15rem;
  }
  
  .table-container-for-scroll{
    height: 43rem;
    overflow: auto;
  }

  .table-container-for-scroll::-webkit-scrollbar {
    width: 0.4rem; /* width of the scrollbar */
}
  
.table-container-for-scroll::-webkit-scrollbar-thumb {
    background: #b1b7bd; /* color of the thumb */
    border-radius: 0.8rem; /* rounded corners of the thumb */
}
  
.table-container-for-scroll::-webkit-scrollbar-track {
    background: #EFEFEF; 
}